<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings file="AppSettings.config">
    <add key="ftpUrl" value=""/>
    <add key="ftpUserName" value=""/>
    <add key="ftpPassword" value=""/>
    <add key="ftpSaveDestination" value=""/>
  </appSettings>
</configuration>