<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings file="AppSettings.config">
    <add key="ftpUrl" value="ftp://ftp.example.com/"/>
    <add key="ftpUserName" value="ftpUser"/>
    <add key="ftpPassword" value="ftpPassword"/>
    <add key="ftpSaveDestination" value="c:/temp/"/>
    <add key="emailReceivers" value="test@example.com" />
  </appSettings>
  <connectionStrings>
    <add name="vfpConnectionString"
         connectionString="Provider=VFPOLEDB.1;Data Source=e:\myvfp\" />
    <add name="DatabaseContext" 
         connectionString="Data Source=.\sqlexpress;Initial Catalog=HerbalifeData;Integrated Security=SSPI;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="Ftp Download &lt;webmail@gohands.com&gt;" deliveryMethod="SpecifiedPickupDirectory">
        <network host="localhost" />
        <specifiedPickupDirectory pickupDirectoryLocation="c:\temp\mailbox" />
      </smtp>
    </mailSettings>
  </system.net>
</configuration>